<div id='game'>

<!-- <h1><center>Blackjack</center><h1> -->
  
  
  <div class="container">
    <%if @losing %>
      <h3><div class="alert alert-error"><%=@losing%></div></h3>
	<%elsif @winning %>
		<h3><div class="alert alert-success"><%=@winning%></div></h3>
	<%elsif @equal %>
		<h3><div class="alert alert-warning"><%=@equal%></div></h3>
	<%elsif @info %>
		<h3><div class="alert alert-info"><%=@info%></div></h3>
	<%else %>
		<h3><div class="alert alert-info"><%=session[:player_name]%> has $<%=(session[:money_amt]).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> and bet $<%=(session[:bet_amt]).to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse%> this round.<%=@info%></div></h3>
	<% end %>
  </div>


<div class = "well" id ='dealer_area'>
<% if @joker == true %>
	<h3>Dealer has: </h3>
<% elsif @dealer_show_first == true %>
	<h3>Dealer has: <%= session[:total_dealer].to_s %></h3>
<% else %>
	<h3>Dealer has:</h3>
<% end %>
<!-- <h3>Dealer's hand:</h3> -->
	<% if @joker == true %>
	    <img src='/images/cards/joker_black.jpg' class='card_image'>
	<% elsif @dealer_show_first == false %>
	    <img src='/images/cards/cover.jpg' class='card_image'>
		<% 1.upto(session[:hand_dealer].length-1) do |i| %>
			<%= display_card(session[:hand_dealer][i]) %>
		<% end %>
	<% else %>
		<% 0.upto(session[:hand_dealer].length-1) do |i| %>
			<%= display_card(session[:hand_dealer][i]) %>
		<% end %>
<% end %>

		



</div>

<!-- <br/> -->

<div class = "well" id ='player_area'>
<!-- <h3><%= session[:player_name] %>'s hand:</h3> -->
<% if @joker == false %>
	<h3><%= session[:player_name] %> has: <%= session[:total_player].to_s %></h3>
		<% session[:hand_player].each do |card| %>
			<%= display_card(card) %>
		<% end %>
<% else%>
	<h3><%= session[:player_name] %> has: </h3>
	    <img src='/images/cards/joker_red.jpg' class='card_image'>
<% end %>
		
</div>



<p>
<% if @hit_stay_buttons %>
	<h3><%= session[:player_name] %>, would you like to hit or stay?</h3>
	<!-- <p id="action_buttons"> -->
		<form id ="hit" action="/game/player/hit" method="POST">
			<input type="submit" value="Hit " class="btn btn-success btn-large" />
		</form>
		<form id="stay" action="/game/player/stay" method="POST"> 
			<input type="submit" value="Stay" class="btn btn-danger btn-large" />
		</form>
	<!-- </p> -->
<% end %>

<% if @dealer_show_buttons %>
<p></p>
	<h3>Click to reveal Dealer's next card</h3>
	<p id="action_buttons">
		<form id ="next" action="/game/dealer/hit" method="POST">
			<input type="submit" value="Dealer Hits →" class="btn btn-primary btn-large" />
		</form>
	</p>
<% end %>

<% if @play_again_button %>
	<h3>Would you like to play again?</h3>
	<form id = "play_again" action="/play_again" method="POST">
		<input type = "submit" value = "Yes" class = "btn btn-success btn-large"/>
	</form>
 	<a href="/game_over" class="btn btn-danger btn-large"> No</a>
<% end %>

<% if @inside_bet %>
	<h3>How much would you like to bet?</h3>
	<form action="/bet" method="post">
		<input type="text" name="bet_amt"/>
		<br/>
		<input type="submit" value = "Submit" class="btn"/>
	</form>

<% end %>


</p>
</div>